.container {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.swipeable {
    flex: 1;
    overflow: hidden;
}

.panels {
    display: flex;
    transition: transform 0.3s ease;
    width: 300vw;
    height: 100%;
    overflow: auto;
}

.panel {
    width: 100vw;
    height: 100%;
    overflow: auto;
}

/* Media query for desktop */
@media (min-width: 768px) {
    .panels {
        /* display: flex; */
        width: 100%;
    }

    .panel {
        width: 32.9vw;
    }
}